/node_modules
/public/build
/public/hot
/public/files
/public/storage
/public/.well-known
/public/downloads
/storage/*.key
/modules
/vendor
.env
.env.testing
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

.php-cs-fixer.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

/misc

/public/css
/public/fonts
/public/img
/public/js
/public/mix-manifest.json
/public/vendor

# ??
/public/bower_components
